@import url(https://fonts.googleapis.com/css?family=Open+Sans:800);
#world {
  background: #87ceeb;
  position:absolute;
  width:100%;
  height:100%;
  overflow:hidden;
  cursor:none;
}
#instructions{
  position:absolute;
  width:100%;
  top:10%;
  margin: auto;
  font-family:'Open Sans', sans-serif;
  color:#fdde8c;
  font-size:1.5em;
  text-transform: uppercase;
  text-align : center;
  line-height : 1.5;
  user-select: none;
}
.lightInstructions {
  color:#f89a78;
  font-size:.9em; 
}
#instructions2{
  position:absolute;
  width:100%;
  top:10%;
  margin: auto;
  font-family:'Open Sans', sans-serif;
  color:#481f26;
  font-size:1.5em;
  text-transform: uppercase;
  text-align : center;
  line-height : 1.5;
  user-select: none;
}
#helper{
  position:absolute;
  width:100%;
  top:10%;
  margin: auto;
  font-family:'Open Sans', sans-serif;
  color:#c92440;
  font-size:1.5em;
  text-transform: uppercase;
  text-align : center;
  line-height : 1.5;
  user-select: none;
}
#credits{
  position:absolute;
  width:100%;
  margin: auto;
  bottom:0;
  margin-bottom:20px;
  font-family:'Open Sans', sans-serif;
  color:#f7575f;
  font-size:0.6em;
  text-transform: uppercase;
  text-align : center;
}
#credits a {
  color:#f7575f;
}

#point {
  cursor:none;
  position:absolute;
  width:100%;
  top:0%;
  margin: auto;
  
  font-family:'Open Sans', sans-serif;
  color:#481f26;
  font-size: 4em;
  text-transform: uppercase;
  text-align : center;
  line-height : 1.5;
  user-select: none;
}
